.Person {
  &__main-left-container {
    width: 190px;
    padding: 0px 10px;
    margin-top: -180px;
    position: relative;
  }
  
  &__main-center-container {
    flex: 1;
    padding: 0 10px;
    
    & > * {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  
  &__main-right-container {
    width: 202px;
    padding: 0 10px;
  }
  
  main .container {
    display: flex;
  }
  
  footer .black-divider {
    height: 435px;
    background: rgba(109, 109, 109, 0.8);
  }
  
  footer .container {
    padding: 30px 0;
  }
  
  .StickyContainer {
    &--top-fixed {
      width: 170px;
      top: 75px;
    }
    
    &--bottom-fixed {
      bottom: 0;
      left: 10px;
      right: 10px;
    }
  }
}