.PersonDetails {
  margin-top: 30px;
  margin-bottom: 30px;
  
  &__detail-container {
    margin: 8px 0;
  }
  
  &__detail-title {
    color: rgba(109, 109, 109, 0.8);
    margin-right: 6px;
  }
  
  .expander {
    cursor: pointer;
  }
}