.PersonCredits {
  margin-top: 15px;
  margin-bottom: 15px;
  
  &__title {
    font-size: 24px;
  }
  
  .PersonCreditsItem {
    position: relative;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    z-index: 1;
    // box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    
    .item-detail-title {
      font-size: 18px;
      font-weight: bold;
      transition: 0.3s all;
    }
    
    .item-detail-release-date {
      font-size: 14px;
      margin-bottom: 3px;
    }
    
    .item-detail-orig-title {
      color: rgba(109, 109, 109, 0.8);
      font-size: 13px;
    }
    
    .item-detail-character {
      margin-top: 3px;
      font-size: 15px;
    }
    
    .item-details-text-container {
      transition: 0.3s all;
      margin-top: 3px;
    }
    
    .backdrop-container {
      position: absolute;
      top: 50%;
      right: 0;
      left: 40%;
      
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: -1px;
        right: 45%;
        background-image: linear-gradient(to right, white, transparent);
        z-index: 1;
        height: 240px;
        transform: translateY(-50%);
      }
    }
    
    &:hover {
      // height: 240px;
      z-index: 2;
      overflow: visible;
      
      .item-details-text-container {
        margin-top: 40px;
        transition: 0.5s all;
      }
      
      .item-detail-title {
        font-size: 22px;
        transition: 0.5s all;
      }
      
      .backdrop {
        opacity: 1;
        transition: 0.3s all;
      }
      
      .poster {
        margin-right: 15px;
      }
      
      .item-inner-container {
        position: absolute;
        height: 240px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: -70px;
        transition: 0.5s all;
        // box-shadow: 0 0 20px 0 #666;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.25);
        
        &:before {
          z-index: 2;
        }
      }
    }
    
    .item-inner-container {
      height: 100%;
      overflow: hidden;
      background-color: white;
      transition: 0.3s all;
      align-self: center;
      flex: 1;
    }
    

    
    .poster {
      height: 100%;
      float: left;
      margin-right: 8px;
    }
  }
  
  .item-detail {
    z-index: 2;
    position: relative;
    text-shadow: 1px 1px 8px white;
  }
  
  .backdrop {
    opacity: 0.8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(0px);
    right: 0;
    width: 100%;
    transition: 0.5s all;
  }
}