.InfoBlock {
  display: flex;
  
  &__item {
    padding: 12px 16px 12px;
    text-align: center;
    
    &:first-child {
      padding-left: 5px;
    }
  }
  
  &__item-label {
    display: block;
    color: #aaa;
    font-size: 12px;
  }
  
  &__item-value {
    display: block;
    color: #fff;
    font-size: 20px;
    opacity: 0.8;
    line-height: 20px;
  }
}