.PersonTaggedImages {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 110px;
  position: relative;
  overflow: hidden;
  
  .tagged-images {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    flex-direction: row;
  }
  
  img {
    display: inline-block;
    height: 100%;
    margin-right: 3px;
  }
}