.PersonPopular {
  img {
    width: 100%;
    display: block;
  }
  
  &__person-container {
    position: relative;
    
    &:hover .PersonPopular__person-name {
      opacity: 1;
    }
  }
  
  &__person-name {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    left: 0;
    text-align: right;
    opacity: 0.8;
    padding: 5px 10px;
  }
  
  &__known-for {
    display: flex;
  }
}