.RecentlyViewed {
  &__header {
    margin-bottom: 10px;
  }
  
  &__header-text {
    font-size: 18px;
    color: rgba(109, 109, 109, 0.8);
    display: inline-block;
  }
  
  &__clear-history {
    display: inline-block;
    float: right;
    font-size: 13px;
    line-height: 25px;
  }
  
  &__items {
    display: flex;
  }
    
  &__item {
    height: 100px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    margin: 0 5px 7px 0;
  }
  
  &__item:last-child {
    margin-right: 0;
  }
  
  &__item-image {
    height: 100%;
  }
}